#container {
  display: flex;
}

/* ---------------------------------------------- Menu ---------------------------------------------- */

.open-menu-btn {
  align-self: flex-start;
  padding: 2em 0 0 2em;
  border: none;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
}

.open-menu-btn:hover {
  color: #a59180;
}

.menu {
  /* position: fixed; */
  z-index: 10;
  display: none;
  flex: 1;
  /* order: 1; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.302)
  );
  border-radius: 20px 0 0 20px;
}

.user {
  width: 100%;
  align-self: flex-start;
  height: min-content;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 50px;
}

.profile-img {
  width: 50px;
  border-radius: 50%;
}

.profile-img:hover {
  opacity: 0.8;
}

.user-info {
  margin: 0 1em;
  line-height: 1.4;
}

.user-info p {
  color: #6b6661;
}

.user-info h3 {
  color: #0c0000;
  font-weight: 600;
}

.logout {
  align-self: flex-end;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

.logout:hover {
  color: #6b6661;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 90%;
  margin: 3em 0;
  overflow-y: hidden;
}

.title {
  width: 70%;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 2px black solid;
  align-self: flex-start;
  justify-self: flex-start;
}

.projects-nav {
  height: 100%;
  padding-right: 1em;
  overflow-y: auto;
}

.projects .proj {
  display: inline-block;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  margin-bottom: 0.5em;
  background: #a1938549;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.proj-delete-btn {
  display: inline;
  padding: 0;
  margin: 0;
  background: transparent;
}

.projects .proj:hover {
  background: rgba(182, 174, 165, 0.63);
}
/* ---------------------------------------------- USer ---------------------------------------------- */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 4;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
  /* overflow-y: hidden; */
}

.profile-image {
  height: 5em;
  width: auto;
  border-radius: 50%;
}

.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-form label {
  margin-top: 1em;
  font-weight: 600;
}

.profile-form input {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px #a08c7f solid;
}

.update-profile-btn {
  margin-top: 2em;
  padding: 0.8em 2em;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    rgba(97, 94, 92, 0.7),
    rgba(97, 94, 92, 0.4)
  );
  font-weight: 600;
  cursor: pointer;
}

.update-profile-btn:hover {
  background: linear-gradient(
    to bottom right,
    rgba(110, 106, 103, 0.7),
    rgba(110, 106, 103, 0.4)
  );
}

/* ---------------------------------------------- Media Queries ---------------------------------------------- */

@media screen and (min-width: 700px) {
  body,
  button,
  input,
  textarea,
  select {
    font-size: 0.9rem;
  }
  
  /* .profile-form {
    /* width: 80%; */
  /* } */
}

@media screen and (min-width: 1025px) {
  body,
  button,
  input,
  textarea,
  select {
    font-size: 1rem;
  }

  #container {
    flex-direction: row;
    overflow-y: hidden;
  }

  
  
}

@media screen and (min-width: 1300px) {
  .profile-form {
    width: 50%;
  }
  #container {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .open-menu-btn {
    display: none;
  }

  #closeMenuBtn {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  #container {
    height: 90vh;
    width: 90%;
   
  }
  

  
}

@media screen and (min-width: 1800px) {
  #container {
    height: 90vh;
    width: 80%;
  }
}

@media screen and (min-width: 2100px) {
  #container {
    height: 90vh;
    width: 70%;
  }

  .profile-form {
    width: 40%;
  }
}